@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}
:root {
    --primary-color: #1e88e5;
    --secondery-color: #ff9800;
    --text-color: #616161;
    --bg-color: #fff;
    --section-bg-color: #eeeeee;
    --negative-bg-color: #1F2935;
    --app-transition: all 180ms ease-in;
    scroll-behavior: smooth;
}
html.dark{
    --bg-color:#1F2935;
    --negative-bg-color:#fff;
    --text-color:#e0e0e0;
    --section-bg-color: #161D26;
}
body {
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: var(--bg-color);
    font-family: vazir;
}
.hidden{
    display: none;
}
.template {
    width: 80%;
    min-height: 80vh;
    margin: 0px auto;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0px 1rem;
    box-shadow: 0 0 .4rem #bdbdbd;
    border-radius: 2rem;
    background-color: var(--section-bg-color);
}
/* template left */
.temlate-left {
    flex-basis: 50%;
    min-height: 50rem;
    display: flex;
    align-items: end;
    position: relative;
    overflow: hidden;
}
.temlate-left__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 0;
    margin: auto;
}
 /* @keyframes imageAnim {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
} 
.template-left__title {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 800;
    font-size: 2.3rem;
    font-family: vazir;
    top: 2rem;
    color: #424242;
   user-select: none;
}
.template-left__icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    z-index: 10;
}
.round-border{
    width: 34px;
    height: 34px;
    border-radius: 50%;    
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.arrow-right{
    width: 24px;
    height: 24px;
    color: var(--primary-color);   
}
.arrow-left{
    width: 24px;
    height: 24px;
    color: var(--primary-color);    
} */
/* template right */
.temlate-right {
    flex-basis: 50%;
    height: 100%;
    align-self: flex-start;
    padding: 1rem;
}
.template-right__select-rule-wrapper{
    display: flex;
    gap: 1rem;
    padding: 0rem 1rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    width: max-content;
    margin: 0px auto;
    margin-bottom: 3rem;
}
.template-right__select-rule{
    border-radius: .5rem;
    padding: 1rem ;
    font-family: vazir;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.template-right__select-rule::after{
    position: absolute;
    content: '';
    bottom: -100%;
    right: 0;
    left: 0;
    margin: 0px auto;
    width: 2rem;
    height: 1rem;
    border-radius: 2rem 2rem 0px 0px;
    background-color: var(--primary-color);
    transition: all 180ms ease;
}
.template-right__select-rule--active.template-right__select-rule::after{
    bottom: 0;
}
.template-right__select-rule--active{
    /* background-color: #bdbdbd;
    border:1px solid #1e88e5; */
    color: var(--primary-color);
}

/* vakil form */

.vakil-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.vakil-form__span-for-input {
    position: relative;   
    min-width: 30%;
}
.vakil-form__span-for-input::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    height: 0%;
    width: .5rem;
    transition: all 180ms ease;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.vakil-form__span-for-input:hover::after {
    background-color: var(--primary-color);
    height:100%;
}


.vakil-form__input{
    display: block;
    text-align: right;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding:.5rem 1rem;
    font-family: vazir;
    color: var(--text-color);
    border-radius: .7rem;
    transition: all 180ms ease;
    border-right:5px solid transparent;
    width: 100%;
    background-color: var(--bg-color);
}
.vakil-form__input::placeholder {
    transition: all 180ms ease;
}
.vakil-form__input:focus::placeholder {
    color: var(--primary-color);
}
.vakil-form__input:focus , .vakil-form__text-area:focus {
    border-right-color:var(--primary-color);
}

.vakil-form__text-area {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    text-align: right;
    padding: .5rem;
    font-family: vazir;
    font-size: 1.4rem;
    border-radius: .7rem;
    border-right:5px solid transparent;
    transition: all 180ms ease;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.vakil-form__skill-picker{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: .7rem;
    cursor: pointer;
    user-select: none;
}

@media (max-width:992px) {
    .template{
        width: 98%;
        padding: 1rem;
    }
    .temlate-left{
        display: none;
    }
    .temlate-right{
        flex-basis: 100%;
    }
}